.sidebar {
  background-color: $color-primary-3;
  color: #fff;
  padding: 2.5rem 3rem;
  // height: 100vh;

  display: grid;

  &__top {
    display: grid;
    grid-template-columns: min-content 1fr;
    // grid-column-gap: 2rem;
    align-items: center;
  }

  &__easythrift {
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  &__navigation__list {
    list-style: none;
    display: grid;
    grid-row-gap: 1.5rem;
    // &:not(:last-child) {
    //   margin-bottom: 3rem;
    // }
  }
  &____navigation__item {
    // &:not(:last-child) {
    //   margin-bottom: 3rem;
    // }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 0;

    display: flex;
    align-items: center;

    span {
      font-size: 1.8rem;
      text-transform: capitalize;
    }
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    margin-right: 3rem;
  }

  &__bottom {
    align-self: end;
  }
}
