.sidebar {
  background-color: $color-primary-3;
  color: #fff;
  padding: 2.5rem 3rem;
  display: grid;
  grid-template-rows: min-content;

  @media (max-width: 765px) {
    display: block;
    padding: 1rem 2rem;
    position: fixed;
    top: calc(100vh - 10rem);
    height: 10rem;
    left: 0;
    z-index: 200;
    background-color: #fff;
    width: 100%;
  }

  &__top {
    display: grid;
    grid-template-columns: min-content 1fr;
    // grid-column-gap: 2rem;
    align-items: center;
    @media (max-width: 765px) {
      display: none;
    }
  }

  &__easythrift {
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  &__navigation__list {
    list-style: none;
    display: grid;
    grid-row-gap: 1.5rem;

    @media (max-width: 765px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__link {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 0;

    display: flex;
    align-items: center;
    @media (max-width: 765px) {
      flex-direction: column;
      color: $color-grey-dark-1;
    }

    span {
      font-size: 2rem;
      text-transform: capitalize;
      @media (max-width: 765px) {
        font-size: 1.6rem;
      }
    }
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    margin-right: 3rem;
    @media (max-width: 765px) {
      margin-right: 0;
      fill: rgba($color-primary-3, 0.7);
    }
  }

  &__bottom {
    align-self: end;

    @media (max-width: 765px) {
      display: none;
    }
  }
}
