.fact {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 3rem;
  padding: 0 5rem;
  justify-items: center;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 765px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 565px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__feautures {
    color: #fff;
  }
  &__box {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-column-gap: 2rem;
  }

  &__heading {
    color: $color-secondary;
    font-size: 8rem;

    @media (max-width: 1200px) {
      font-size: 6rem;
    }
  }

  &__details {
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 400;
    @media (max-width: 1200px) {
      font-size: 1.4rem;
    }
  }
}
