.stat {
  grid-column: center-start / center-end;
  display: grid;
  justify-items: center;
  padding: 15rem 0;

  &__heading {
    font-size: 4rem;
    color: $color-primary-2;
    @media (max-width: 765px) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 1.6rem;
    color: $color-text;
    font-weight: 700;
  }
}
