.main {
  padding: 2rem 5rem;
  display: grid;
  grid-template-rows: min-content;
  grid-row-gap: 2rem;
  @media (max-width: 765px) {
    padding: 2rem 2rem;
    // grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__link {
    }
    &__icon {
      width: 6rem;
      height: 6rem;
      fill: $color-primary-3;

      @media (max-width: 765px) {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

.user-dashoboard__name {
  font-size: 2.7rem;
  font-weight: 700;
  color: $color-grey-dark-1;

  @media (max-width: 765px) {
    font-size: 2rem;
    font-weight: 500;
  }
}

.balance {
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 3rem;
  align-items: start;
  &__box {
    padding: 2.5rem 2rem;
    color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;

    @media (max-width: 765px) {
      // padding: 1rem 1.5rem;
    }
    svg {
      grid-row: 1 / span 2;
      align-self: center;
      width: 3rem;
      height: 3rem;
      fill: #fff;
    }
    &--1 {
      background-color: rgb(13, 96, 216);
    }

    &--2 {
      background-color: rgb(121, 19, 229);
    }

    &--3 {
      background-color: rgb(34, 34, 34);
    }
  }

  &__heading {
    font-size: 2rem;
    text-transform: capitalize;
    @media (max-width: 765px) {
      font-size: 1.7rem;
    }
  }

  &__amount {
    font-size: 3.5rem;
    @media (max-width: 765px) {
      font-size: 2rem;
    }
  }
}

.note {
  margin-bottom: 10rem;
}

.user-get-started {
  justify-self: start;
  h2 {
    color: rgba($color-primary-2, 0.3);
    font-size: 3.5rem;
    text-transform: capitalize;
  }
  &__link {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba($color-primary-3, 0.3);
    border-radius: 7px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    @media (max-width: 765px) {
      padding: 1.2rem;
    }
    svg {
      width: 4rem;
      height: 4rem;
      fill: $color-primary-3;
      @media (max-width: 765px) {
        margin-bottom: 2rem;
      }
    }

    span {
      font-size: 2rem;
      color: $color-primary-3;
    }
  }
}
