<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body class="login__body">
    <div class="login__top">
      <a href="/" class="EasyThrift__logo">EasyThrift</a>
    </div>
    <div class="login__box">
      <h2 class="login__heading">Login to your account</h2>
      <p>securely login to your account</p>
      <form action="/login" method="POST" class="form">
        <div class="form__group u-margin-bottom-1">
          <label for="email" class="form__label">Email</label>
          <input type="email" name="email" class="form__input" value="<%= errorMessage ? oldData.email  : "" %>" required />
        </div>
        <% if (errorMessage) {  %> 
          <div class="error__message u-margin-bottom-1">
            <%= errorMessage %> 
          </div>
        <% } %> 
        <div class="form__group u-margin-bottom-1">
          <label for="email" class="form__label">password</label>
          <input type="password" name="password" class="form__input" value="<%= errorMessage ? oldData.password : "" %>" required />
        </div>
        <button type="submit" class="btn--submit">Log in</button>
      </form>
    </div>
    <div class="login__bottom">
      <a href="signup.html" class="register__link"
        >dont have an account? Register</a
      >
      <a href="forgot-password.html" class="forgot-password__link"
        >fogot password</a
      >
    </div>
  </body>
</html>
