<%- include('./includes/head.ejs') %>

        <!-------- home navigation----------------- -->
        <div class="balance u-margin-bottom-4">
          <div class="balance__box balance__box--1">
            <svg class="">
              <use xlink:href="img/sprite.svg#icon-line-graph"></use>
            </svg>
                <h4 class="balance__heading">savings amount</h4>
                <h3 class="balance__amount">&#8358 <%= user.savingsAmount %>.00 </h3>
            </div>
            <div class="balance__box balance__box--2">
              <svg class="">
                <use xlink:href="img/sprite.svg#icon-line-graph"></use>
              </svg>
                <h4 class="balance__heading">total savings</h4>
                <h3 class="balance__amount">&#8358 0.00</h3>
            </div>
            <div class="balance__box balance__box--3">
              <svg class="">
                <use xlink:href="img/sprite.svg#icon-line-graph"></use>
              </svg>
                <h4 class="balance__heading">available balance</h4>
                <h3 class="balance__amount">&#8358 0.00</h3>
            </div>
        </div>
        <% if (user.registration === "incomplete" ) {  %> 
          <div class="user-get-started">
            <h2 class="u-margin-bottom-2">Get started</h2>
            <a href="/configure" class="user-get-started__link">
              <svg class="u-margin-bottom-4">
                <use xlink:href="img/sprite.svg#icon-pie-chart"></use>
              </svg>
              <span>Create your savings plan &rarr;</span> 
            </a>
          </div>
        <% } else { %> 

          <div class="u-margin-bottom-4 u-margin-top-2">
          <a href="#" class="btn btn--green u-margin-bottom-4 u-margin-top-2" >Pay with card</a>
          </div>
        <% } %> 
        <div class="note u-margin-bottom-20">
          <strong>Note: </strong>10% of your savings will be charged as the adminstration fee.
        </div>
  
        <!-------- --------------------------------- -->

        <!-- experiment configuration -->

        <!--------user getting started plan section------- -->

        <!-- <div class="user-getting-started">
          <h2>configure your savings plan</h2>
          <form action="" class="plan__form">
            <div class="input__group">
              <label class="input__group__label" for=""
                >How long will you like to save</label
              >
              <select class="input__group__select" name="selection" id="">
                <option value="">1 month</option>
                <option value="">2 month</option>
                <option value="">3 month</option>
                <option value="">4 month</option>
              </select>
            </div>
            <div class="input__group">
              <label class="input__group__label" for=""
                >How much would you like to save for now</label
              >
              <input class="input__group__input" type="text" />
            </div>

            <div class="input__group">
              <label class="input__group__label" for="">Account number</label>
              <input class="input__group__input" type="text" />
            </div>
            <div class="input__group">
              <label class="input__group__label" for="">Account name</label>
              <input type="text" class="input__group__input" />
            </div>
            <div class="input__group">
              <label class="input__group__label" for="">Bank name</label>
              <select class="input__group__select" name="selection" id="">
                <option value="">GT bank</option>
                <option value="">Access bank</option>
                <option value="">first bank</option>
                <option value="">UBA bank</option>
              </select>
            </div>

            <div class="input__group">
              <button class="btn btn--blue" type="submit">
                Save plan
              </button>
            </div>
          </form>

          <h3>
            <strong>Note: </strong>For discipline, withdrawals can only be done
            on your choosen maturity date(e.g if you choose 1 month, you will
            only be paid after 30 days)
          </h3>
        </div> -->

        <!-- ------------payment history-------------------- -->

        <!-- <div class="user-history">
          <h2 class="">Payment history</h2>
          <table class="user-history__table">
            <thead>
              <th>S.No</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Date</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>5000</td>
                <td>Success</td>
                <td>2020-02-12 04:49:28</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2000</td>
                <td>Success</td>
                <td>2020-02-12 04:49:28</td>
              </tr>

              <tr>
                <td>3</td>
                <td>15000</td>
                <td>Success</td>
                <td>2020-02-12 04:49:28</td>
              </tr>
              <tr>
                <td>4</td>
                <td>9000</td>
                <td>Success</td>
                <td>2020-02-12 04:49:28</td>
              </tr>
              <tr>
                <td>5</td>
                <td>12000</td>
                <td>Success</td>
                <td>2020-02-12 04:49:28</td>
              </tr>
            </tbody>
          </table>
        </div> -->
        <!-- ----------- -->

        <!-- account seetings -->

        <!-- <div class="user-account">
          <div class="user-account__box">
            <h2>Personal information</h2>
            <form action="" class="personalize__form">
              <div class="personalize__form__box">
                <h3>Full Name</h3>
                <span>lawal olawale usman</span>
              </div>
              <div class="personalize__form__box">
                <h3>Email address</h3>
                <span>daboss@gmail.com</span>
              </div>
              <div class="personalize__form__box">
                <h3>Phone number</h3>
                <input type="text" value="08097896789" />
              </div>
              <div class="personalize__form__box">
                <h3>Acoount name</h3>
                <input type="text" value="lawal olawale usman" />
              </div>
              <div class="personalize__form__box">
                <h3>Acoount number</h3>
                <input type="text" value="0987654534" />
              </div>
              <div class="personalize__form__box">
                <h3>Bank name</h3>
                <select class="" name="selection" id="">
                  <option value="">GT bank</option>
                  <option value="">Access bank</option>
                  <option value="">first bank</option>
                  <option value="">UBA bank</option>
                </select>
              </div>
              <button class="btn btn--blue">save changes</button>
            </form>
          </div>

          <div class="user-account__box">
            <h2>Security Settings</h2>
            <form action="" class="personalize__form">
              <div class="personalize__form__box">
                <h3>old password</h3>
                <input type="password" />
              </div>
              <div class="personalize__form__box">
                <h3>New password</h3>
                <input type="password" />
              </div>
              <button class="btn btn--blue">save changes</button>
            </form>
          </div>
        </div> -->

        <!-- ----------------------- -->
      </div>
    </div>
  </body>
</html>
